[submodule "Packages/ivanbelyj.causal-model-unity"]
	path = Packages/ivanbelyj.causal-model-unity
	url = git@github.com:ivanbelyj/CausalModelUnity.git
[submodule "Packages/ivanbelyj.personality"]
	path = Packages/ivanbelyj.personality
	url = https://github.com/ivanbelyj/Personality
[submodule "Packages/ivanbelyj.lifecycle-parameters"]
	path = Packages/ivanbelyj.lifecycle-parameters
	url = https://github.com/ivanbelyj/LifecycleParameters
[submodule "Packages/com.zor.simple-blackboard"]
	path = Packages/com.zor.simple-blackboard
	url = https://github.com/ivanbelyj/SimpleBlackboard.git
[submodule "Packages/com.zor.utility-ai"]
	path = Packages/com.zor.utility-ai
	url = https://github.com/ivanbelyj/UtilityAI.git
[submodule "Assets/ThirdParty/RTree"]
	path = Assets/ThirdParty/RTree
	url = git@github.com:deadlyfingers/RTree.git
[submodule "Packages/ivanbelyj.ai-movement-core"]
	path = Packages/ivanbelyj.ai-movement-core
	url = git@github.com:ivanbelyj/AIMovement.git
[submodule "Packages/ivanbelyj.perception-core"]
	path = Packages/ivanbelyj.perception-core
	url = git@github.com:ivanbelyj/PerceptionCore.git
